.category-page {
    display: flex;
    flex-direction: column;
  
    .title {
        font-size: 2.375rem;
        margin: 0 auto 1.875rem;
    }
  
    .items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 0.625rem;
        
        &.category-item {
            margin-bottom: 1.875rem;
        }
    }
}
  