.form-button {
    min-width: 10.3125rem;
    width: auto;
    height: 3.125rem;
    letter-spacing: 0.5px;
    line-height: 3.125rem;
    padding: 0 2.1875rem 0 2.1875rem;
    font-size: 0.9375rem;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    font-weight: bolder;
    border: none;
    cursor: pointer;
  
    &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }
}
  