.cart-icon {
    width: 2.8125rem;
    height: 2.8125rem;
    position: relative;
    display: flex;
    margin: 0 1rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .empty-cart-icon {
        // width: 1.5rem;
        // height: 1.5rem;
        width: 2.5rem;
        height: 2.5rem;
    }

    .item-count {
        // position: absolute;
        position: relative;
        right: 1.25rem;
        bottom: .175rem;
        font-size: 0.8rem;
        font-weight: bolder;
        
    }
}
  